<li>
    <form method="post" action="{{ path('categorie_delete', {'id': categorie.id}) }}" id="delete_form">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    </form>
    <button id="btn_delete" type="submit" class="btn btn-danger btn-lg btn-block">
        Delete
    </button>
</li>